@{
    ViewBag.Title = "Каталог питомцев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

@*@section SidePanel {     @Html.Action("Sub", "Menu") }*@
<aside>
    <nav>
    <ul class="aside-menu">                     
        <li><a href="/Pets">Питомцы</a></li>                     
        <li><a href="/ApplicationUsers">Пользователи</a></li>                     
        <li><a href="/OverexposureContractsAdmin">Договоры передержки</a></li>                     
        <li><a href="/NewHomeContracts">Договоры "Новый дом"</a></li>                     
        <li><a href="/BlogPosts">Доска объявлений</a></li>                 
    </ul> 
    </nav>           
     
</aside>
<section>

    @*@RenderBody()*@             
</section> 
